# ==============================================================================
# licensing_server/.htaccess — Protect Private Keys and License Database
# ==============================================================================
Options -Indexes

<FilesMatch "(?i)^(\.env|.*\.key|.*\.pem|.*\.sqlite|.*\.db|.*\.sql|.*\.log|.*\.bak)$">
    Require all denied
    <IfModule !mod_authz_core.c>
        Deny from all
    </IfModule>
</FilesMatch>
